<html>
<head>
<title>author.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #a9b7c6;}
.s1 { color: #e8bf6a;}
.s2 { color: #bababa;}
.s3 { color: #a5c261;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
author.html</font>
</center></td></tr></table>
<pre><span class="s0">{% extends 'index.html' %}</span>

<span class="s0">{% block content %}</span>
  <span class="s1">&lt;h2&gt;&lt;span&gt;</span><span class="s0">{{ author.name }}</span><span class="s1">&lt;/span&gt; &lt;/h2&gt;</span>
  <span class="s1">&lt;table </span><span class="s2">class</span><span class="s3">=&quot;table&quot;</span><span class="s1">&gt;</span>

    <span class="s1">&lt;tr&gt;&lt;td </span><span class="s2">class</span><span class="s3">=&quot;td_bold&quot;</span><span class="s1">&gt;</span><span class="s0">Jméno:</span><span class="s1">&lt;/td&gt;&lt;td&gt; </span><span class="s0">{{ author.name }} </span><span class="s1">&lt;/td&gt;&lt;/tr&gt;</span>
    <span class="s1">&lt;tr&gt;&lt;td </span><span class="s2">class</span><span class="s3">=&quot;td_bold&quot;</span><span class="s1">&gt;</span><span class="s0">Narozen:</span><span class="s1">&lt;/td&gt;&lt;td&gt; </span><span class="s0">{{ author.birth_date }} </span><span class="s1">&lt;/td&gt;&lt;/tr&gt;</span>
    <span class="s1">&lt;tr&gt;&lt;td </span><span class="s2">class</span><span class="s3">=&quot;td_bold&quot;</span><span class="s1">&gt;</span><span class="s0">Země:</span><span class="s1">&lt;/td&gt;&lt;td&gt; </span><span class="s0">{{ author.country }} </span><span class="s1">&lt;/td&gt;&lt;/tr&gt;</span>
  <span class="s1">&lt;/table&gt;</span>

  <span class="s1">&lt;h3&gt;</span><span class="s0">Biografie:</span><span class="s1">&lt;/h3&gt;</span>
  <span class="s1">&lt;table </span><span class="s2">class</span><span class="s3">=&quot;table&quot;</span><span class="s1">&gt;</span>
    <span class="s0">{% for book in writing %}</span>
      <span class="s1">&lt;tr&gt;&lt;td&gt;&lt;a </span><span class="s2">href</span><span class="s3">=&quot;{% url 'book' book.id %}&quot;</span><span class="s1">&gt;</span><span class="s0">{{ book.name }}</span><span class="s1">&lt;/td&gt;&lt;td&gt; &lt;/td&gt;&lt;/tr&gt;</span>
    <span class="s0">{% endfor %}</span>
  <span class="s1">&lt;/table&gt;</span>

<span class="s0">{% endblock %}</span>
</pre>
</body>
</html>