<html>
<head>
<title>new_books.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #a9b7c6;}
.s1 { color: #e8bf6a;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
new_books.html</font>
</center></td></tr></table>
<pre><span class="s0">{% extends 'index.html' %}</span>

<span class="s0">{% block content %}</span>
<span class="s1">&lt;h2&gt;&lt;span&gt;</span><span class="s0">Novinky:</span><span class="s1">&lt;/span&gt; &lt;/h2&gt;</span>
  <span class="s0">{% for book in books %}</span>
    <span class="s0">{{ book }}</span>
  <span class="s0">{% endfor %}</span>
<span class="s0">{% endblock %}</span></pre>
</body>
</html>